.App {
  text-align: center;
}

.App-header {
  background-color: #2c3e50;
  height: 90px;
  padding: 30px;
  color: white;
  margin-bottom: 2rem;
}

body {
  background: #f3f3f3;
}

img{
  width: 100%;
  height: 220px;
}

a{
  color:#e74c3c !important;
}

button:focus{
  outline: none;
}

.form__button{
  border: solid 2px #e74c3c;
  background: transparent;
  padding: 0.2rem 0.9rem;
  margin: 0 0.2rem;
  border-radius: 1 px;
  font-size: 1rem;
  font-weight: 500;
  margin-left: 0.7rem;
}

.product_button{
  border: solid 2px #e74c3c;
  background: transparent;
  padding: 0.4rem 0.6rem;
  margin: 0 0.2rem;
  border-radius: 1px;
  font-size: 0.8rem;
  font-weight: 500;
  margin-left: 15rem;
  
}

.product_box{
  background: #fff;
  padding-bottom: 2rem;
  border-radius: 5px;
  box-shadow: -1px 2px 34px -13px rgba(0,0,0,0.75);
  text-align: left;
  overflow: hidden;
}

.product_text{
  margin-left: 15px;
}

.product_title{
  color: #e74c3c;
  font-size: 1.1rem;
  padding: 1.8 rem 0 0.2rem 0;
}

.product_subtitle{
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: 2px;
}

.product_subtitle span {
  text-transform: none;
  font-weight: 400;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.form_input{
  background: transparent;
  border: 0;
  border-bottom: solid 2px #2c3e50;
  margin-right: 10px;
  letter-spacing: 2px;
  width: 10%;
  padding: 0.4rem;
}

input[type="text"]{
  outline: none;
}

/*input:-webkit-autofill{
  -webkit-box-shadow: 0 0 0 30px #f3f3f3 inset;
  -webkit-text-fill-color: #2c3e50 !important;
}*/

/******Product.js*****/

.active-product{
  margin: 0 auto;
  width: 60%;
}

.active-product_img{
  height: 500px !important;
}

.active-product_title{
  letter-spacing: 2px;
  margin: 1rem 0;
}

.active-product_button{
  border: solid 2px #e74c3c;
  background: transparent;
  padding: 0.2rem 0.9rem;
  margin: 0 0.2rem;
  border-radius: 1px;
  font-size: 1rem;
  font-weight: 500;
  margin-left: 25rem;
}

